* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.garageCircle {
  fill: aquamarine;
  fill-opacity: 0.5;
  stroke: darkcyan;
  stroke-opacity: 1;
}

body {
  background-color: #202020;
}

/* Tablet */
@media screen and (min-width: 48rem) {
}

/* Desktop */
@media screen and (min-width: 64rem) {
}
